*{
    margin: 0px;
}

html {
    scroll-behavior: smooth; /* faz o scroll mais suave */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    
}

header{
    display: flex; /* dispoe os elementos ao lado uns dos outros */
    justify-content: space-around; /*alinha os elementos na horizontal */
    align-items: center; /* alinha os elementos na vertical */
    background-color: rgb(129, 134, 133); /* da cor de fundo */
    padding: 20px; /* da espaço entre elementos */
    text-align: center; /* centra o texto */
}

.titulo {
    border: none; /* retira a borda do elemento */
    color: white;

}
header div a { 
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

header div a:hover {
    background-color: aliceblue;
    color: cadetblue;
}

main {
    width: 50%;  /* a width define a largura do elemento */  
    /* border: 1px solid black; */
    margin: 20px auto 
}
.negrito { /* as letras ficam a carregadas ou negrito */
    font-weight: bold;
}

p{
    line-height: 30px; /* da espaço entre linhas */
}
.janela {
    background-color: white;
    padding: 20px;
    margin: top 20px; 
}
h2 {
    border-bottom: 1px solid rgb(7, 7, 7);
    margin-bottom: 10px;
    }

    .texto {
        line-height: 20px;
        margin-bottom: 20px;
        }

        img {
            width: 100%;
                    }
.link-detalhes {
    text-align: center;
    /* border */
}

.detalhes {
    text-decoration: none;
    background-color: black;
    color:white;
    padding: 10px;
    display: inline-block; /* permite aplicar margem num elemeno inline */
    margin: 20px 0px;
    text-align: center;
}

form {
    width: 60%;
    margin: 20px auto;
}

form label, 
form input, /* é o campo do Formulario para nos escreverem */
form textarea {
    display: block; /* converte um elemento inline num elemento block que ocupa toda a linha */ 
    width: 100%;

}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 10px;
    
}

form input[type="submit"] {
    padding: 10px;
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 16px;
    width: 110%;
}

footer {
    background-color: cadetblue;
    padding: 15px;
    text-align: center;
    color: white;

}

@media (    max-width: 560px) {
    header { 
        flex-direction: column;
        gap: 15px;
    }

    header div a{
        display: inline-block;
        margin-bottom: 10px;
    }

    main {
        width: 80%;
    }

    form {
        width: 80%;
    }

}



